#:schema https://docs.jj-vcs.dev/latest/config-schema.json

[user]
name = "Matan Lurey"
email = "{{ .email }}"

[ui]
pager = "delta"
diff-formatter = ":git"

[aliases]
push = ["util", "exec", "--", "jj-hp", "push"]

[merge-tools.delta]
program = "delta"
diff-args = ["--color-only"]
